html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 30px auto 0 auto;
  font-size: 10px;
}

a {
  color: #333333;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.3;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover {
  color: #58b4ae;
}

h1 {
  font-family: Quicksand, sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  color: #333333;
}

h2 {
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.35;
  color: #333333;
}

img.logo {
  width: 250px;
  height: auto;
  margin-bottom: 13px;
}

/*----HEADER---*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vh;
}

nav {
  border-top: 2px solid #ffb367;
  padding-top: 8px;
}

nav a {
  margin: 0 25px;
}

section {
  padding: 70px;
  height: 100vh;
  box-sizing: border-box;
  min-height: fit-content;
  scroll-snap-align: start;
}

section:first-of-type {
  height: 71vh;
  scroll-snap-align: end;
}

section:last-of-type {
  height: 95vh;
}

/*----ABOVE THE FOLD SECTION---*/
section.welcome {
  max-width: 1138px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(ryder.png);
  background-size: 66% auto;
  background-repeat: no-repeat;
  background-position: 0% 60%;
  display: flex;
  justify-content: flex-end;
}

section.welcome h2 {
  text-align: center;
  margin: 0;
}

section.welcome div {
  position: relative;
}

section.welcome svg {
  position: absolute;
  top: 20%;
  left: 0;
  z-index: -1;
  width: 140%;
  height: auto;
  transform: translate(-17%, -55%);
}

/*----CARD SECTION---*/
section.orange {
  background: rgba(248, 207, 97, 0.3);
}

div.prodotti-container {
  max-width: 1138px;
  margin-right: auto;
  margin-left: auto;
}

div.card {
  padding: 20px 10px 5px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 10px;
  min-width: 215px;
  min-height: 190px;
}

div.card img {
  display: block;
  margin: 10px auto 0;
  max-height: 80px;
}
div.card h2 {
  text-align: center;
}

div.card-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

/*----BE HERO SECTION---*/
div.be-hero {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

div.be-hero img {
  max-height: 238px;
  max-height: auto;
}

div.be-hero-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 10px;
}

div.be-hero-element h2 {
  text-align: center;
  max-width: 400px;
  margin-top: 4rem;
}

/*----DOWNLOAD SECTION---*/
section.download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(#fff 30%, rgba(88, 180, 174, 0.3) 30%);
}

section.download img.phone {
  height: 615px;
  width: auto;
}

section.download div.calltoaction {
  padding: 100px;
}

section.download h1 {
  text-align: left;
}

img.download-button {
  height: 70px;
}

div.buttons {
  display: flex;
  justify-content: space-between;
}

/*----FOOTER---*/
footer {
  display: flex;
  justify-content: center;
  height: 5vh;
  background: rgba(88, 180, 174, 0.3);
}

footer a {
  text-transform: none;
  margin: 0 15px 10px;
}

@media (max-width: 1200px) {
  body {
    width: auto;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }

  section {
    padding: 40px;
    box-sizing: border-box;
    min-height: fit-content;
  }

  section.welcome svg {
    transform: translate(-17%, -60%);
  }

  div.card img {
    max-height: 60px;
  }

  div.card {
    padding: 20px 10px 5px;
    min-width: 170px;
    min-height: 150px;
    margin: 5px;
  }

  div.be-hero img {
    max-height: 180px;
    max-width: auto;
  }

  div.be-hero-element h2 {
    max-width: 280px;
  }

  section.download div.calltoaction {
    padding: 50px 10px 50px 50px;
  }

  img.download-button {
    height: 55px;
  }
  section.download img.phone {
    height: 400px;
    width: auto;
  }
}

@media (max-width: 760px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 18px;
  }
  section {
    padding: 25px;
    box-sizing: border-box;
    min-height: fit-content;
  }

  section.welcome h2 {
    text-align: center;
    margin: 10px;
  }

  section.welcome {
    background-size: 75% auto;
  }

  div.card img {
    max-height: 40px;
  }

  div.card {
    padding: 20px 10px 5px;
    min-width: 150px;
    min-height: 133px;
    margin: 5px;
  }
  div.be-hero-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 10px;
  }

  div.be-hero-element h2 {
    text-align: center;
    margin-top: 2rem;
  }

  section.download img.phone {
    height: 450px;
    width: auto;
  }

  img.download-button {
    height: 45px;
  }
}

@media (max-width: 4000px) {
  h1 {
    font-size: 20px;
  }
  section.welcome {
    background-size: 80% auto;
  }
  footer a {
    font-size: 10px;
  }
}
